
#ask {
  padding: 30px;
}

.ask-heading, .dropdown-title {
  color: $middle-cyan;
}

.ask-intro {
  // @include dashed-border(bottom, $middle-cyan);
  a {
    color: black;
    text-decoration: underline;
  }
}

.dropdown {
  padding: 0 15px;
  margin-top: 50px;
  i {
    color: $middle-cyan;
    font-size: 48px;
    vertical-align: middle;
  }
}

.dropdown-title {
  @include dashed-border(bottom, $middle-cyan);
  cursor: pointer;
}

.dropdown-body {
  display: none;
  li {
    display: list-item;
    list-style: initial;
    color: $middle-cyan;
    margin-left: 30px;
    cursor: pointer;
  }
}

.sign-in {
  text-align: center;
  padding: 30px !important;
  margin-top: 50px;
  h5 {
    color: $middle-cyan;
    margin-bottom: 30px;
  }
}

#signUpBoxButton {
  margin-left: 30px;
}

input[type=text], input[type=password] {
  border-bottom-color: $cyan;
  color: $cyan;
  display: block;
  margin: auto;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]) {
  border-bottom-color: $cyan;
  box-shadow: 0 1px 0 0 $cyan;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label {
  color: $cyan;
}

#signInButton {
  margin-top: 30px;
}
